# Datasets (do not upload raw images to GitHub)
test/
train/
val/

# Model weights and checkpoints

*.pt
*.bin
*.onnx

# Cache & Python
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Outputs & experiment logs
v3_outputs/
*.log

# Media files
*.mp4
*.avi
*.mov
*_pred.jpg
*_v3_pred.jpg

# VS Code & IDE
.vscode/
.idea/

# SAM labeling cache
*stream_cache.jsonl
